body {
	overflow: auto;
}

#root {
	overflow: hidden;
}

body,
#root {
	background-image: url("/navy.png");
	background-color: var(--bg-color);
	color: var(--text-color);
	position: relative;
	min-height: 100vh;
	@apply tracking-tighter;
}

.font-secondary {
	color: var(--text-color-secondary);
}

.font-tertiary {
	color: hsl(
		var(--text-color-secondary-h),
		var(--text-color-secondary-l),
		calc(var(--text-color-secondary-s) + 15%)
	);
}

.font-extra {
	color: hsl(
		var(--text-color-secondary-h),
		var(--text-color-secondary-l),
		calc(var(--text-color-secondary-s) - 15%)
	);
}

.divider {
	background-image: url("/navy.png");
	background-color: var(--bg-color);
}

.text-animate-up {
	transform: translateY(125%);
	position: relative;
	display: inline-block;
	opacity: 0;
	animation: animate-up 500ms ease forwards;
	animation-delay: calc(var(--start) + var(--delay));
}

.block-animate-up {
	transform: translateY(125%);
	position: relative;
	opacity: 0;
	animation: animate-up 500ms ease forwards;
	animation-delay: calc(var(--start) + var(--delay));
}

.fade-in {
	opacity: 0;
	animation: fade-in 500ms ease forwards;
	animation-delay: calc(var(--start) + var(--delay));
}

.ReactModal__Overlay {
	opacity: 0;
	z-index: 10000;
	background-color: hsla(
		var(--bg-color-h),
		var(--bg-color-l),
		var(--bg-color-s),
		0.9
	) !important;
	transition: opacity 200ms;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.ReactModal__Content--before-close {
	transform: scale(90%) !important;
}

.ReactModal__Content--after-open {
	transform: scale(100%) !important;
}

.ReactModal__Content {
	@apply mx-auto max-w-2xl transition-all scale-90 p-6 text-left rounded-2xl bg-gray-500 bg-opacity-[0.1] border border-gray-400 border-opacity-10 backdrop-blur-xl shadow-lg space-y-4;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
	overflow: hidden;
}

.main-text-in {
	opacity: 0;
	position: relative;
	display: inline-block;
	animation: animate-right 500ms ease forwards;
	animation-delay: 600ms;
	transform: translateX(-150%);
}

.card-wrapper {
	position: relative;
	overflow: hidden;
	&::after {
		content: "";
		position: absolute;
		width: 5rem;
		height: 5rem;
		left: var(--x);
		top: var(--y);
		transform: translate(-50%, -50%);
		z-index: -1;
		opacity: var(--opacity);
		transition: opacity 500ms ease;
		@apply bg-yellow-600 bg-opacity-20 rounded-full blur-3xl;
	}
}

.extra-wrapper {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		@apply rounded-2xl blur-0 bg-gradient-to-br from-yellow-400 via-violet-500 to-orange-500 brightness-0;
		animation: flicker 2s linear forwards;
		animation-delay: 500ms;
	}
}

@keyframes flicker {
	0% {
		filter: blur(5px) brightness(1);
	}
	3% {
		filter: blur(40px) brightness(0);
	}
	6% {
		filter: blur(40px) brightness(0);
	}
	7% {
		filter: blur(15px) brightness(1);
	}
	8% {
		filter: blur(40px) brightness(0);
	}
	9% {
		filter: blur(30px) brightness(1);
	}
	10% {
		filter: blur(40px) brightness(0);
	}
	20% {
		filter: blur(40px) brightness(1);
	}
	50% {
		filter: blur(40px) brightness(1);
	}
	70% {
		filter: blur(40px) brightness(1);
	}
	100% {
		filter: blur(40px) brightness(1);
	}
}

@keyframes animate-up {
	0% {
		opacity: 0;
		transform: translateY(125%);
	}
	33% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes animate-right {
	0% {
		opacity: 0;
		transform: translateX(-150%);
	}
	33% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fade-in {
	100% {
		opacity: 1;
	}
}
